#s-71b78cb7-fb8b-41fe-800d-3d5e8467058d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b78cb7-fb8b-41fe-800d-3d5e8467058d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b78cb7-fb8b-41fe-800d-3d5e8467058d #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b78cb7-fb8b-41fe-800d-3d5e8467058d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b78cb7-fb8b-41fe-800d-3d5e8467058d #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-71b78cb7-fb8b-41fe-800d-3d5e8467058d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}