#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Discover-card-big {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 360px;
  height: 226px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 9px;
  padding-right: 20px;
  padding-left: 70px;
  width: 253px;
  height: 217px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 0px #999999;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_15 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Image_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 177px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Label_34 {
  position: absolute;
  top: 134px;
  left: 10px;
  width: 309px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Label_34 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Label_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-favorite > svg {
  width: 23px;
  height: 23px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-favorite {
  position: absolute;
  top: 188px;
  left: 224px;
  width: 23px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-bookmark > svg {
  width: 23px;
  height: 23px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-bookmark {
  position: absolute;
  top: 188px;
  left: 264px;
  width: 23px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-reply > svg {
  width: 18px;
  height: 15px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-reply {
  position: absolute;
  top: 192px;
  left: 304px;
  width: 18px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_1 {
  position: absolute;
  top: 281px;
  left: 171px;
  width: 166px;
  height: 98px;
  background-color: #6BCDFD;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_3 {
  position: absolute;
  top: 413px;
  left: 19px;
  width: 166px;
  height: 98px;
  background-color: #6BCDFD;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Horizontal-softkeys {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Input_2 {
  position: absolute;
  top: 565px;
  left: 0px;
  width: 230px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Text_1 {
  position: absolute;
  top: 244px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Image_3 > svg {
  width: 24px;
  height: 24px;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Image_3 {
  position: absolute;
  top: 566px;
  left: 275px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Button_1 {
  position: absolute;
  top: 491px;
  left: 216px;
  width: 70px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bf9b4f5a-f2d4-4020-827d-a00d71a84263 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}