#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-more-vertical_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-refresh_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-menu_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d5e9b794-f8c1-437b-8100-9f66ad193e17 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}